:root {
    --quote-background: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fdfdfd;
}

.about {
    margin: 20px;
    font-size: 1.2rem;
    line-height: 1.2;
}

.book-list {
    text-align: center;
    list-style-type: none;
    margin: 30px;
    padding: 25px;
}

.book-list li {
    margin: 15px;
}

.book-list li a {
    text-decoration: none;
}

.book-list li a:hover {
    text-decoration: underline;
}

#quote-container {
    width: 85%;
    margin: 20px auto;
    padding: 55px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--quote-background);
    border-radius: 8px;
    border: 1px solid #999;
}

#quote-container p {
    background-color: var(--quote-background);
    margin: 30px auto;
    font-size: 2rem;
}

#quote {
    background-color: var(--quote-background);
}

#quote-author {
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: var(--quote-background);
}

#quote-button {
    margin: 40px auto 0px;
    padding: 15px;
    border-radius: 4px;
    max-width: 50%;
    background-color: #00beef;
    color: white;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

#quote-button:hover {
    background-color: #00adde;
}

.book-card {
    margin: 30px auto;
    width: 80%;
}

.book-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.book-title {
    margin-bottom: 15px;
    text-align: center;
}

.book-cover {
    width: 200px;
    margin: 10px;
}

.book-link {
    text-decoration: none;
    cursor: pointer;
    margin: 15px;
    font-size: 1.2rem;
}

.book-link:hover {
    text-decoration: underline;
}

.book-core {
    font-size: 1.2rem;
}

.book-key-lessons {
    list-style-type: none;
    margin: 15px;
    text-align: center;
}

.book-key-lessons li {
    margin: 15px;
    text-align: left;
}

footer {
    text-align: center;
    margin: 20px;
}